# Node.js
node_modules/
npm-debug.log*
.env
.env.* # Environment variables

# Logs
logs/
*.log

# Build artifacts
dist/
build/
coverage/

# Editor/IDE specific files
.vscode/
.idea/
*.swp
.DS_Store # macOS specific

# Temporary files
tmp/